<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="margin: auto;width: 50%;">
      <img src="../../assets/imgs/laptop.jpg" alt="image">
    </div>

  <ion-card-header>
    <h3>Computadora.</h3>
  </ion-card-header>
  <ion-card-content>
    Este es un ejemplo usando card 
  </ion-card-content>
  </ion-card>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
